

    <!-- Top Bar
    ============================================= -->
    <div id="top-bar">

      <div class="container clearfix">

        <div class="col_half hidden-xs nobottommargin">

          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a href="{% path_to home %}"><i class="icon-time"></i> {{ site.name }}</a></li>
              <li><a href="#"><i class="icon-phone3"></i> +91-800-9876-221</a></li>
              <li><a href="#" class="nott"><i class="icon-envelope2"></i> medical@canvas.com</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

        <div class="col_half col_last fright nobottommargin">

          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a href="#">EN</a>
                <ul>
                  <li><a href="#"><img src="{{ 'flags/french.png' | theme_image_url }}" alt="French"> FR</a></li>
                  <li><a href="#"><img src="{{ 'flags/italian.png' | theme_image_url }}" alt="Italian"> IT</a></li>
                  <li><a href="#"><img src="{{ 'flags/german.png' | theme_image_url }}" alt="German"> DE</a></li>
                </ul>
              </li>
              <li><a href="#" data-scrollto="#booking-appointment-form" data-offset="100" data-easing="easeInOutExpo" data-speed="1200" class="bgcolor" style="color:#fff;">Book an Appointment</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

      </div>

    </div>

    <header id="header">

      <div id="header-wrap">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="index.html" class="standard-logo"><img src="{{ 'images/logo-medical.png' | theme_image_url }}" alt="Canvas Logo"></a>
            <a href="index.html" class="retina-logo"><img src="{{ 'images/logo-medical@2x.png' | theme_image_url }}" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu" class="style-3">

            <ul>
              <li class="current"><a href="#"><div>Home</div></a></li>
              <li><a href="#"><div>About Us</div></a></li>
              <li><a href="#"><div>Departments</div></a></li>
              <li><a href="#"><div>Services</div></a></li>
              <li><a href="#"><div>Doctors</div></a></li>
              <li><a href="#"><div>Blog</div></a></li>
              <li><a href="#"><div>Contact</div></a></li>
            </ul>

          </nav><!-- #primary-menu end -->

        </div>

      </div>

    </header>


