---
title: Home page
published: true
handle: home
editable_elements:
  content/main/first_column: "<h2>Heading #1</h2>\r\n      <p>Donec id elit non mi
    porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
    magna mollis euismod. Donec sed odio dui.</p>"
  content/main/second_column: "<h2>Heading #2</h2>\r\n      <p>Donec id elit non mi
    porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
    magna mollis euismod. Donec sed odio dui. </p>"
  content/main/third_column: "<h2>Heading #3</h2>\r\n      <p>Donec sed odio dui.
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa.</p>"
  content/header/jumbotron: "<h1>Wagon bootstrap template</h1>\r\n      <p>This is
    a simple site with editable sections like this.</p>"
---
{% extends 'layouts/default' %}

{% block content %}

<!-- Slider
    ============================================= -->
  
  {% block slider, short_name: true, priority: 1 %}

    <section id="slider" class="swiper_wrapper full-screen clearfix">

      <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">


          <div class="swiper-slide" style="background-image: url(
          {% editable_file 'image1' %}
            /samples/slider/1.jpg
          {% endeditable_file %});">
          
            <div class="container clearfix">
              <div class="slider-caption slider-caption-right" style="max-width: 700px;">

                
                  <h2 data-caption-animate="flipInX">
                    {% editable_text "header1" %}
                      Team of Experts<span>.</span>
                    {% endeditable_text %}    
                  </h2>
                

                <p data-caption-animate="flipInX" data-caption-delay="500">

                  {% editable_text "sub header1" %}
                    Our Team of Doctors are specialized in Various Disciplines to make sure you get the Best Treatment.
                  {% endeditable_text %}

                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide" style="background-image: url(
          {% editable_file 'image2' %}
            /samples/slider/2.jpg
          {% endeditable_file %});">

            <div class="container clearfix">
              <div class="slider-caption">

                
                  <h2 data-caption-animate="zoomIn">

                    {% editable_text "header2" %}
                      Heart<span>Beat</span>.
                    {% endeditable_text %}

                  </h2>
                

                <p data-caption-animate="zoomIn" data-caption-delay="500">
                  {% editable_text "sub header2" %}
                    Care for your Loved Ones from the Experts in the Medical &amp; Hospitality Industry.
                  {% endeditable_text %}
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>
      


      {{ 'application.js' | javascript_tag }}

    </section>

  {% endblock %}


  <!-- #slider end -->


  <!-- Info
    ============================================= -->

  {% block info, short_name: true, priority: 1 %}

    <section id="content">
      <div class="content-wrap">
        
        <div class="container clearfix">

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn">
                <a href="#"><i class="icon-medical-i-cardiology"></i></a>
              </div>

              {% editable_text "info_header1" %}
                <h3>Intensive Care</h3>
              {% endeditable_text %}
              
              {% editable_text "info_sub1" %}
                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
              {% endeditable_text %}

            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                <a href="#"><i class="icon-medical-i-social-services"></i></a>
              </div>

              {% editable_text "info_header2" %}
                <h3>Family Planning</h3>
              {% endeditable_text %}

              {% editable_text "info_sub2" %}
                <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
              {% endeditable_text %}

            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                <a href="#"><i class="icon-medical-i-neurology"></i></a>
              </div>

              {% editable_text "info_header3" %}
                <h3>Expert Consultation</h3>
              {% endeditable_text %}

              {% editable_text "info_sub3" %}
                <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
              {% endeditable_text %}

            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn">
                <a href="#"><i class="icon-medical-i-dental"></i></a>
              </div>

              {% editable_text "info_header4" %}
                <h3>Dental Sciences</h3>
              {% endeditable_text %}

              {% editable_text "info_sub4" %}
                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
              {% endeditable_text %}

            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                <a href="#"><i class="icon-medical-i-imaging-root-category"></i></a>
              </div>

              {% editable_text "info_header5" %}
                <h3>X-Ray Services</h3>
              {% endeditable_text %}

              {% editable_text "info_sub5" %}
                <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
              {% endeditable_text %}

            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                <a href="#"><i class="icon-medical-i-ambulance"></i></a>
              </div>

              {% editable_text "info_header6" %}
                <h3>24x7 Emergency</h3>
              {% endeditable_text %}

              {% editable_text "info_sub6" %}
                <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
              {% endeditable_text %}

            </div>
          </div>

        </div>

  {% endblock %}

        <!-- #Info end -->

        <!-- Contact Form
    ============================================= -->

  {% block contact, short_name: true, priority: 1 %}

        <div class="section nopadding common-height dark topmargin-sm">
          <div class="col-md-5" style="background: url(
          {% editable_file 'image1' %}
            /samples/slider/1.jpg
          {% endeditable_file %}) center center no-repeat; background-size: cover;">
            
        </div>

          <div id="booking-appointment-form" class="col-md-7 nopadding">
            <div class="bgcolor col-padding">

              {% model_form 'customer_messages', success: '/', error: '/' %}

                {% if customer_message.errors %}
                  <p>The following errors occured:</p>
                  <ul>
                  {% for error in customer_message.errors %}
                    <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
                  {% endfor %}
                  </ul>
                {% endif %}

              <h2>Book an Appointment.</h2>
              <div id="medical-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>
             
                <div class="col_two_third">
                  <label for="template-medical-name">Name:</label>
                  <input type="text" id="template-medical-name" name="content[name]" value="{{customer_message.name}}" class="form-control not-dark required">
                </div>
                <div class="col_one_third col_last">
                  <label for="template-medical-phone">Phone:</label>
                  <input type="text" id="template-medical-phone" name="content[phone]" value="{{customer_message.phone}}" class="form-control not-dark required">
                </div>
                <div class="clear"></div>
                <div class="col_two_third">
                  <label for="template-medical-email">Email Address:</label>
                  <input type="email" id="template-medical-email" name="content[email]" value="{{customer_message.email}}" class="form-control not-dark required">
                </div>
                <div class="col_one_third col_last">
                  <label for="template-medical-dob">Date of Birth:</label>
                  <input type="text" id="template-medical-dob" name="content[dob]" value="{{customer_message.dob}}" class="form-control not-dark required" placeholder="DD/MM/YYYY">
                </div>
                <div class="clear"></div>
                <div class="col_two_fifth nobottommargin">
                  <div class="col_full">
                    <label for="template-medical-appoint-date">Appointment Date:</label>
                    <input type="text" id="template-medical-appoint-date" name="content[app_date]" value="{{customer_message.app_date}}" class="form-control not-dark required" value="" placeholder="DD/MM/YYYY">
                  </div>
                  
                </div>
                <div class="col_three_fifth nobottommargin col_last">
                  <label for="template-medical-message">Message:</label>
                  <textarea id="template-medical-message" name="content[message]" class="form-control not-dark required" cols="30" rows="5">{{customer_message.message}}</textarea>
                </div>
                <div class="clear"></div>
                
                <div class="col_full topmargin-sm nobottommargin">
                  
                  <button class="button button-rounded button-white button-light nomargin" type="submit" value="submit">Confirm Booking</button>

                  {% endmodel_form %}

                </div>

                <div class="clear"></div>

            </div>
          </div>
        </div>
  {% endblock %}

  <!-- #Contact end -->


  <!-- Testimonials
    ============================================= -->

  {% block testimonials, short_name: true, priority: 1 %}
        <div class="container clearfix">

          <div class="col_three_fifth">
            <div class="accordion accordion-lg clearfix">

              <div class="acctitle"><i class="acc-closed icon-medical-i-kidney color"></i><i class="acc-open icon-medical-kidney color"></i>Kidney Transplant</div>
              <div class="acc_content clearfix">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>

              <div class="acctitle"><i class="acc-closed icon-medical-i-respiratory color"></i><i class="acc-open icon-medical-respiratory color"></i>Pulmonary Treament</div>
              <div class="acc_content clearfix">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</div>

              <div class="acctitle"><i class="acc-closed icon-medical-i-ophthalmology color"></i><i class="acc-open icon-medical-ophthalmology color"></i>Eye Care &amp; Lasik Surgery</div>
              <div class="acc_content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>

              <div class="acctitle"><i class="acc-closed icon-medical-i-ear-nose-throat color"></i><i class="acc-open icon-medical-ear-nose-throat color"></i>Ear, Nose &amp; Throat</div>
              <div class="acc_content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>

              <div class="acctitle"><i class="acc-closed icon-medical-i-cardiology color"></i><i class="acc-open icon-medical-cardiology color"></i>Cardiology Department</div>
              <div class="acc_content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>

            </div>
          </div>

          <div class="col_two_fifth col_last">

            <h4>
              {% editable_text "test_header" %}
                Patient Testimonials<span>.</span>
              {% endeditable_text %}              
            </h4>

            <ul class="testimonials-grid grid-1 clearfix">
              <li class="noleftpadding notoppadding">
                <div class="testimonial">
                  <div class="testi-image">
                    <a href="#"><img src="{% editable_file 'test_image1' %}/samples/testimonials_1.jpg{% endeditable_file %}" alt="Customer Testimonails"></a>
                  </div>

                  <div class="testi-content">
                  
                    <p>
                      {% editable_text "test1" %}
                        Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!
                      {% endeditable_text %}
                    </p>

                    <div class="testi-meta">
                      {% editable_text "test1_person" %}
                        John Doe
                      {% endeditable_text %}
                      <span>
                        {% editable_text "test1_company" %}
                          XYZ Inc.
                        {% endeditable_text %}
                      </span>
                    </div>

                  </div>

                </div>
              </li>
              <li class="noleftpadding nobottompadding">
                <div class="testimonial">
                  <div class="testi-image">
                    <a href="#"><img src="{% editable_file 'test_image2' %}/samples/testimonials_2.jpg{% endeditable_file %}" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>
                      {% editable_text "test1" %}
                        Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!
                      {% endeditable_text %}
                    </p>

                    <div class="testi-meta">
                      {% editable_text "test1_person" %}
                        COLLIS TA'EED
                      {% endeditable_text %}
                      <span>
                        {% editable_text "test1_company" %}
                          Envato Inc.
                        {% endeditable_text %}
                      </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="clear"></div>
            <a href="#" class="button button-mini button-rounded norightmargin fright">More Patient Feedbacks...</a>
            <div class="clear"></div>
          </div>

        </div>
  {% endblock %}

  <!-- #Testimonials end -->

      </div>
    </div>
{% endblock %}
