---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    
    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'style.css' | stylesheet_tag }}
    {{ 'medical.css' | stylesheet_tag }}
    {{ 'dark.css' | stylesheet_tag }}
    {{ 'font-icons.css' | stylesheet_tag }}
    {{ 'medical-icons.css' | stylesheet_tag }}
    {{ 'animate.css' | stylesheet_tag }}
    {{ 'magnific-popup.css' | stylesheet_tag }}
    {{ 'fonts.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
    {{ 'colors.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'jquery.js' | javascript_tag }}
    {{ 'plugins.js' | javascript_tag }}
  </head>
    <body class="stretched" data-loader-html="<div id='css3-spinner-svg-pulse-wrapper'><svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='http://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='http://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg></div>">

        <div id="wrapper" class="clearfix">
            {% include 'nav' %}

            {% block content %}
            {% endblock %}

            {% include 'footer' %}

            
            {{ 'functions.js' | javascript_tag }}
        </div>
    
  </body>
</html>
